/*
Source: https://stackoverflow.com/a/48320520
Blink when waiting for input
.waiting {
  animation: blinkingText 1s step-start infinite;
  margin-bottom: 5px;
}

@keyframes blinkingText {
  50% {
    opacity: 0;
  }
}

*/

@font-face {
  font-family: 'digital-7_monoitalic';
  /* Font licensed free for personal use. */
  src: url('./fonts/digital7monoitalic-8mdlj-webfont.woff2') format('woff2'),
    url('./fonts/digital7monoitalic-8mdlj-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.display {
  font-family: digital-7_monoitalic, monospace;
}

.calculator {
  max-width: 250px;
  max-height: 350px;
  border: 2px solid black;
}

.buttons {
  display: grid;
  grid-auto-rows: 50px;
  grid-auto-columns: 250px;
}

.buttons * {
  font-size: 1em;
}

.clear,
.numbers-1,
.numbers-2,
.numbers-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.numbers-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
